.post textarea {
  height: 100px;
  animation: postAnim 1s;
}

@keyframes postAnim {
  from {
    height: 0px;
  }

  to {
    height: 100px;
  }
}

.sec {
  max-height: 30vh;
  min-height: 20vh;
  overflow-x: auto;

}


.title {
  transition: all 0.5s;
}

.title:hover {
  color: rgb(13, 110, 253) !important;
}

.dropdown-toggle::after {
  content: "..." !important;
  display: none !important;
}

.add_friend_btn {
  /* width:  80%; */
  height: 50px;
  padding-inline: 15px;
  background: #A5D9D0;
  border-radius: 7px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}

.main_color{
  color: #449f8f !important;
}

.bg_main{
  background: #A5D9D0 !important;
}

.btn_outline_main{
  /* border-color: #A5D9D0 !important; */
  border: 3px solid #A5D9D0 !important;
}